body{
background:#0f172a;
color:#ffffff;
font-family:Plus Jakarta Sans;
}

.weather-left{
background: linear-gradient(180deg,#1f2937,#111827);
border-radius:20px;
}

.weather-right{
background:#1f2937;
border-radius:20px;
}

.day-card{
background:#111827;
border-radius:15px;
transition:0.3s;
}

.day-card:hover{
transform:translateY(-5px);
}

.info-card{
background:#111827;
border-radius:15px;
}

.temp{
font-size:60px;
font-weight:bold;
}

.brwn-color{
    color: #6A6969;
}
.img{
  width: 70%;
}

/* Extra small devices (mobile phones) */
@media (max-width: 575.98px) {
  /* Mobile layout */
.color1{
    height: 100vh;
}
    .fsize{
    font-size: 25px;}
  .mt-s{
    
  margin-top: 48px !important;

  }  
  .temp{
font-size:7vw;
}
  .img{
  width: 40%;
}
    

}


/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Small phones */

}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Tablets */
.temp{
font-size:4vw;
}

}


/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Laptop/Desktop */
  .img{
  width: 40%;
}
.temp{
font-size:4vw;
}
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  /* Large desktop */
  .temp{
font-size:4vw;
}
} 